@font-face {
    font-family: 'Roboto-regular';
    /*src: url(../fonts/Roboto-Regular.ttf);*/
}

:root {
    --wrapper-w: 55vw;
    --blue-color: #007bff;
}

body {
    height: 100vh;
}

body, nav {
    background-color: rgb(238, 238, 238);
}

.navbar-brand::after {
    background-color: var(--blue-color);
    width: 0.1em;
    height: 80%;
    position: absolute;
    top: calc((100% - 80%) / 2);
    left: 100%;
}

#feedback {
    /*height: 70vh;
    overflow-y: auto;
    overflow-x: hidden;*/
}

#wrapper {
    width: var(--wrapper-w);
    padding: 60px 80px;
    /*background-color: #fff;*/
    border-radius: 10px;
    position: relative;
    margin: 0 auto;
}

#wrapper_param {
    background-color: #fff;
    border-radius: 10px;
    margin: 20vh;
    padding: 1.5rem 3rem;
}

.w-6 {
    width: 6% !important;
}

.w-8 {
    width: 8% !important;
}

.w-10 {
    width: 10% !important;
}

.w-12 {
    width: 12% !important;
}

.w-15 {
    width: 15% !important;
}

.fa-1-5x {
    font-size: 1.2em;
}

.cadre {
    border: #DEE2E6 solid 1px;
    border-radius: 4px;
}

.cadre-titre {
    color: #1A74B8;
    border: solid 2px #1A74B8;
    border-radius: 6px;
}

.cadre-titre-recherche {
    color: #1A74B8;
    border-bottom: solid 0.1em #1A74B8;
}

.cadre-titre span {
    font-size: smaller;
}

#goTop {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 1vh; /* Place the button at the bottom of the page */
    right: 1vw; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    cursor: pointer; /* Add a mouse pointer on hover */
}

.gradient {
    background: linear-gradient(rgba(48, 173, 221, 0.16), #fff) no-repeat;
}

.gradient-in {
    background: linear-gradient(rgb(76, 218, 109), #fff) no-repeat;
}

.gradient-out {
    background: linear-gradient(#ff4456, #fff) no-repeat;
}

.arba {
    font-family: Helvetica, Arial, sans-serif;
    z-index: 1;
}

#b_title::before {
    /*content: '"AR';*/
    position: absolute;
    top: -20%;
    left: 10%;

    font-family: 'Noto Serif', serif;
    color: #c6c6c6;
    font-size: 5em;
    font-weight: bold;
    /*line-height: 138px;*/
    margin-bottom: 0;
    margin-left: -25%;
    z-index: -1;
}

#e_title::after {
    /*content: 'BA"';*/
    position: absolute;
    top: 40%;
    left: 50%;

    font-family: 'Noto Serif', serif;
    color: #c6c6c6;
    font-size: 5em;
    font-weight: bold;
    /*line-height: 138px;*/
    margin-bottom: 0;
    margin-left: -25%;
    z-index: -1;
}

.caps {
    color: var(--blue-color);
    /*font-weight: bolder;*/
    font-size: 1.6em;
}

/* main wrapper and its layout */
.item {
    cursor: pointer;
}

.nav-items {
    width: 38px;
    height: 38px;
    background: var(--blue-color);
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.212);
    transform: scale(0);
    transition: transform 0.1s cubic-bezier(0.23, -0.47, 0.58, -0.63);
}

.nav-items:hover {
    transform: scale(1.1);
    /*transition-timing-function: 0.1s;*/
    transition: 0.1s;
}

/* toggle classes */
.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
    color: #1A74B8 !important;
}

.nav-item:hover {
    background: linear-gradient(rgba(48, 173, 221, 0.16), #fff) no-repeat;
    border-radius: 5px;
    box-shadow: 0 0.2rem 0.3rem rgba(0, 0, 0, 0.15) !important;
    transition: box-shadow 0.2s ease-out;
}

.nav-item:active {
    box-shadow: none;
}

.col-05 {
    -ms-flex: 0 0 4.1666665%;
    flex: 0 0 4.1666665%;
    max-width: 4.1666665%;
}

.border-left {
    border-top-left-radius: 0 !important;
}

#param_title {
    min-width: 30vw;
}

#param_title::after {
    content: '';
    display: block;
    width: 25%;
    border-bottom: 0.15em solid #c3c3c3;
    margin: 1em 0;
}

#w_solde_gnl, #w_solde_coti, #w_solde_adhe, #w_solde_mvt {
    position: fixed;
    right: 0.5vw;
    z-index: 10;
    width: 45px;
    height: 45px;
    line-height: 45px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
}

#w_solde_gnl {
    top: 80px;
}

#w_solde_coti {
    top: 130px;
}

#w_solde_adhe {
    top: 180px;
}

#w_solde_mvt {
    top: 230px;
}